<p>Ask your coach anything:</p>
<div class="container">
  <form action="/answer" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="question" placeholder="What time is it?" aria-describedby="button-addon2">
      <input type="submit" class="btn btn-outline-primary" value="Ask!">
    </div>
  </form>
  <div>