<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form" name= "question" placeholder="Ask something to the coach" aria-label="Ask something to the coach" aria-describedby="button-addon2">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </div>
</form>